<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>📊 Dashboard</h1>

        <p>Welcome to CodeLens AI</p>

        <a href="/upload">
            <button>
                Upload Java File
            </button>
        </a>

        <button onclick="toggleTheme()">
            🌙 Dark Mode
        </button>

    </div>
</div>

<script src="/js/app.js"></script>

</body>
</html>