<!DOCTYPE html>
<html>
<head>
    <title>CodeLens AI Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>🚀 CodeLens AI</h1>
        <p>AI Powered Code Review Platform</p>

        <form action="/dashboard">

            <input type="email"
                   placeholder="Email"
                   required>

            <input type="password"
                   placeholder="Password"
                   required>

            <button type="submit">
                Login
            </button>

        </form>

        <button onclick="toggleTheme()">
            🌙 Dark Mode
        </button>

    </div>
</div>

<script src="/js/app.js"></script>

</body>
</html>